/* body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
} */

header{
  padding: 50px;
}

header img{
  height: 150px;
  border-radius: 50%;
}

header, footer{
  background-color: #722b75;
  text-align: center;
  color: #ffffff;
}

nav {
  background-color: #c307ed;
}

nav ul{
  margin: 0;
  padding: 25px;
}

nav ul li{
  display: inline;
  margin: 50px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #cdc4cf;
}

section{

  margin: 50px;
  padding: 50px;
  color: #cdc4cf;
  border-radius: 25px;
  background-color: #722b75;
}

footer{
  padding: 10px;
}

.button{
  border: 0;
  color:#cdc4cf;
  padding: 25px;
}